img {
  max-height: 75px !important;
  margin-top: 16px;
  margin-bottom: 16px;
}

ion-card-subtitle {
  font-size: 18px;
}

ion-card-title {
  font-size: 18px;
}

ion-textarea {
  border: 1px solid gray;
  border-radius: 5px;
  height: 70% !important;
}
